<a id="scrape-btn" class="btn btn-dark btn-lg" href="/scrape" role="button">Scrape New Articles</a>
<a id="delete-btn" class="btn btn-dark btn-lg" href="/api/article/delete/all" role="button">Delete All</a>
<a id="view-btn" class="btn btn-dark btn-lg" href="/api/savedarticle/all" role="button">View Saved Articles</a>